<!DOCTYPE html>
<html>
<head>
<title>运营工具-用户信息查询</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="<{$res}>/css/skin.css" rel="stylesheet" type="text/css">
<link href="<{$res}>/css/jquery-ui.css" rel="stylesheet" type="text/css">

<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
	font-size: 12px;
}
.mytable td {
	font-size: 12px;
}
-->
</style>
</head>
<body>
	<div>
		<div>
			<div>
				<table class="explain">
					<thead>
					</thead>
					<tbody style="font-family:Mingliu">
						<tr>
							<td width="5%"  class="tableleft"><b>说明：</b></td>
						</tr>
						<tr>
							<td width="95%" class="tableleft">1、可根据玩家帐号、角色名、角色ID查询<font color = "red"><b>玩家基本信息</b></font>、<font color = "red"><b>装备信息</b></font>、<font color = "red"><b>背包信息</b></font>等：</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="topinfo">
				<div>
					<span>服务器:</span>
					<select id="sip">
						<{foreach from=$ipList item=ip}>
							<option value="<{$ip.s_id}>"><{$ip.s_name}></option>
						<{/foreach}>
					</select>
					<select id="type" style="margin-left:50px">
						<option value="0">账号名</option>
						<option value="2">角色名</option>
						<option value="1">玩家ID</option>
					</select>
					<input type="text" class="input1" id="qt"/>
					<input type="button" value="查询" id="querybtn" style="margin-left:20px"/>
				</div>
			</div>
			<div style="clear:both"></div>
			<div id="tabs-1" class="tabitem">
				<div>
					<table  class="mytable">
						<thead>
							<tr>
								<th>玩家ID</th>
								<th>账号名</th>
								<th>角色名</th>
								<th>性别</th>
								<th>等级</th>
								<th>职业</th>
								<th>创建时间</th>
								<th>最近在线时间</th>
								<th>最近登录IP</th>
								<th>总在线时长</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="infota">
						</tbody>
					</table>
				</div>
				<div id="pagehtml" style="float:right;margin-right:20px"></div>
			</div>
			<div id="tabs-2" class="tabitem" style="display:none">
				<div style="display:none">
					<table width="40%" border="0" cellspacing="0" cellpadding="0" class="tran">
						<thead>
							<tr>
								<th>传送门：</th>
								<th>玩家消费记录</th>
								<th>元宝消费记录</th>
								<th>给玩家发邮件</th>
								<th>玩家登录日志</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div style="display:block" id="detial">
					<div>
						<table  class="mytable" cellspacing="0" >
							<thead>
								<tr>
									<th colspan="15" style="text-align: left">玩家详细信息</th>
								</tr>
							</thead>
							<tbody>
								<tr class="tblod">
									<td>账号</td>
									<td>角色ID</td>
									<td>角色名</td>
									<td>性别</td>
									<td>等级</td>
									<td>vip等级</td>
									<td>职业</td>
									<td>所在帮会</td>
									<td>战斗力</td>
									<td>所在地图</td>
									<td>总充值金额</td>
									<td>元宝</td>
									<td>绑定元宝</td>
									<td>铜钱</td>
									<td>绑定铜钱</td>
								</tr>
								<tr id="detailInfo">
								</tr>
								<tr class="tblod">
									<td colspan="2">创建时间</td>
									<td colspan="2">最近在线时间</td>
									<td colspan="2">最近登录IP</td>
									<td colspan="2">总在线时长</td>
									<td>在线状态</td>
									<td>账号状态</td>
									<td colspan="5">&nbsp;</td>
								</tr>
								<tr id="detailInfo2">
									<td colspan="3">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="2">操作</td>
									<td colspan="13" style="text-align: left">
										<input type="button" value="禁言" id="jybt"/>
										<input type="button" value="解禁" id="jjbt" style="display:none"/>
										<input type="button" value="冻结" id="djbt"/>
										<input type="button" value="解冻" id="jdbt" style="display:none"/>
										<input type="button" value="强制下线" id="xxbt"/>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div style="margin-top:20px">
						<table  class="mytable" cellspacing="0" align="center" >
							<thead>
								<tr>
									<th colspan='15'>
										<span class="b_sq">玩家装备信息</span>
										<span class="sqzk" id="zbclose"><img height="20px" src='<{$res}>/images/zk.png'/></span>
										<span class="sqzk" id="zbopen" style="display:none"><img height="20px" src='<{$res}>/images/sq.png'/></span>
									</th>
								</tr>
							</thead>
							<tbody id="zbbody"|>
								<tr class="tblod">
									<td>部位</td>
									<td>武器</td>
									<td>头部</td>
									<td>衣服</td>
									<td>腰带</td>
									<td>项链</td>
									<td>护腕</td>
									<td>戒指</td>
									<td>鞋子</td>
									<td>坐骑</td>
								</tr>
								<tr id="name">
									<td>名称</td>
									<td id="name_WEAPONS">空</td>
									<td id="name_HEAD">空</td>
									<td id="name_CLOTHES">空</td>
									<td id="name_CLOAK">空</td>
									<td id="name_NECKLACE">空</td>
									<td id="name_BRACERS">空</td>
									<td id="name_RING">空</td>
									<td id="name_SHOES">空</td>
									<td id="name_MOUNTS">空</td>
								</tr>
								<tr id="slevel">
									<td>强化等级</td>
									<td id="clevel_WEAPONS">0</td>
									<td id="clevel_HEAD">0</td>
									<td id="clevel_CLOTHES">0</td>
									<td id="clevel_CLOAK">0</td>
									<td id="clevel_NECKLACE">0</td>
									<td id="clevel_BRACERS">0</td>
									<td id="clevel_RING">0</td>
									<td id="clevel_SHOES">0</td>
									<td id="clevel_MOUNTS">0</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div style="margin-top:20px">
						<table  class="mytable" cellspacing="0" align="center" >
							<thead>
								<tr>
									<th colspan='8'>
										<span class="b_sq">背包信息</span>
										<span class="sqzk" id="bagopen"><img height="20px" src='<{$res}>/images/zk.png'/></span>
										<span class="sqzk" id="bagclose" style="display:none"><img height="20px" src='<{$res}>/images/sq.png'/></span>
									</th>
								</tr>
							</thead>
							<tbody id="bag" style="display:none"> 
								<tr class="tblod" >
									<td>道具ID</td>
									<td>道具名</td>
									<td style="width:30px">品质</td>
									<td>数量</td>
									<td>绑定/未绑定</td>
									<td>位置</td>
									<td>强化级别</td>
									<td>获得时间</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div style="margin-top:20px">
						<table  class="mytable" cellspacing="0" align="center" >
							<thead>
								<tr>
									<th>
										<span class="b_sq">玩家坐骑信息</span>
										<span class="sqzk" id="zjopen"><img  height="20px" src='<{$res}>/images/zk.png'/></span>
										<span class="sqzk" id="zjclose" style="display:none"><img  height="20px" src='<{$res}>/images/sq.png'/></span>
									</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div style="margin-top:20px">
						<table  class="mytable" cellspacing="0" align="center" >
							<thead>
								<tr>
									<th>
										<span class="b_sq">玩家卓越套装信息</span>
										<span class="sqzk" id="zyopen"><img height="20px" src='<{$res}>/images/zk.png'/></span>
										<span class="sqzk" id="zyclose" style="display:none"><img height="20px" src='<{$res}>/images/sq.png'/></span>
									</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div style="margin-top:20px">
						<table  class="mytable" cellspacing="0" align="center" >
							<thead>
								<tr>
									<th>
										<span class="b_sq">玩家仓库信息</span>
										<span class="sqzk" id="ckopen"><img  height="20px" src='<{$res}>/images/zk.png'/></span>
										<span class="sqzk" id="ckclose" style="display:none"><img height="20px" src='<{$res}>/images/sq.png'/></span>
									</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>	
			</div>
			<div style="clear:both"></div>
			<input type="hidden" id="last_ip"/>
			<input type="hidden" id="sum_sec"/>
		</div>
		<input type="hidden" id="roleid" value=""/>
	</div>
	
<!-- 禁言弹出框 -->	
<div id="jyform"  style="display:none">
	<div class="ajaxform">
		<table width="80%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
			<tbody>
				<tr>
					<td align="right" width="35%">角色名：</td>
					<td width="65%">
						<span id="rname"></span>
					</td>
				</tr>
				<tr>
					<td align="right" width="35%">禁言时长：</td>
					<td width="65%">
						<select id="stoptime">
							<option value="-1">永久</option>
							<option value="60">1分钟</option>
							<option value="300">5分钟</option>
							<option value="600">10分钟</option>
							<option value="1800">30分钟</option>
							<option value="3600">1小时</option>
						</select>
					</td>
				</tr>
				<tr>
					<td align="right" width="35%">操作原因：</td>
					<td width="65%">
						<textarea class="input1" cols="20" rows="6" id="reason">玩家因发布不文明信息，禁言</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- 解禁弹出框 -->	
<div id="jjform"  style="display:none">
	<div class="ajaxform">
		<table width="80%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
			<tbody>
				<tr>
					<td align="right" width="35%">角色名：</td>
					<td width="65%">
						<span id="rname11"></span>
					</td>
				</tr>
				<tr>
					<td align="right" width="35%">操作原因：</td>
					<td width="65%">
						<textarea class="input1" cols="20" rows="6" id="reason11">解禁</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- 冻结弹出框 -->	
<div id="djform"  style="display:none">
	<div class="ajaxform">
		<table width="80%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
			<tbody>
				<tr>
					<td align="right" width="35%">角色名：</td>
					<td width="65%">
						<span id="rname2"></span>
					</td>
				</tr>
				<tr>
					<td align="right" width="35%">冻结时长：</td>
					<td width="65%">
						<select id="freezetime">
							<option value="-1">永久</option>
							<option value="60">1分钟</option>
							<option value="300">5分钟</option>
							<option value="600">10分钟</option>
							<option value="1800">30分钟</option>
							<option value="3600">1小时</option>
						</select>
					</td>
				</tr>
				<tr>
					<td align="right" width="35%">操作原因：</td>
					<td width="65%">
						<textarea class="input1" cols="20" rows="6" id="freezereason">玩家开挂，冻结</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- 解冻弹出框 -->	
<div id="jdform"  style="display:none">
	<div class="ajaxform">
		<table width="80%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
			<tbody>
				<tr>
					<td align="right" width="35%">角色名：</td>
					<td width="65%">
						<span id="rname22"></span>
					</td>
				</tr>
				<tr>
					<td align="right" width="35%">操作原因：</td>
					<td width="65%">
						<textarea class="input1" cols="20" rows="6" id="freezereason22">解冻</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<!-- 强制下线弹出框 -->	
<div id="xxform"  style="display:none">
	<div class="ajaxform">
		<table width="80%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
			<tbody>
				<tr>
					<td align="right" width="35%">角色名：</td>
					<td width="65%">
						<span id="rname3"></span>
					</td>
				</tr>
				<tr>
					<td align="right" width="35%">操作原因：</td>
					<td width="65%">
						<textarea class="input1" cols="20" rows="6" id="offreason">玩家因发布不文明信息，强制下线</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script src="<{$res}>/js/jquery.js" type="text/javascript"></script>
<script src="<{$res}>/js/jquery-ui.js" type="text/javascript"></script> 
<script src="<{$res}>/js/function.js" type="text/javascript"></script>
<script type="text/javascript">
	var flag = false;//全局变量，防止重复提交
	
	showTitle("运营工具:玩家查询");
	
	//查询
	$("#querybtn").click(function(){
		$("#tabs-2").hide();
		$("#tabs-1").show();
		getdata(1);
	})

	//table单双行交叉样式
	$(".mytable tr:odd").css("background-color", "#edf2f7"); 
	$(".mytable tr:even").css("background-color","#e0f0f0"); 

	//获取玩家详细信息
	var getDetail = function(id){
		var ip = $("#sip").val();
		var lastIp = $("#last_ip").val();
		var sumsec = $("#sum_sec").val();
		$.ajax({
			type:"GET",
			url:"<{$logicApp}>/gminfo/getDetailInfo",
			data:{
				ip : ip,
				gid : id
			},
			cache : false,
			async : false,
			dataType:"json",
			beforeSend:function(){
				$("#detailInfo").html("<td colspan='15'><img src='<{$res}>/images/loading.gif'/></td>");
				$("#detailInfo2").html("<td colspan='15'><img src='<{$res}>/images/loading.gif'/></td>");
			},
			success:function(data){
		
				var  dhtml = "";
				dhtml += "<td>"+data.player["accountCode"]+"</td>";
				dhtml += "<td>"+data.player["id"]+"</td>";
				dhtml += "<td id='roleName'>"+data.player["name"]+"</td>";
				dhtml += "<td>"+data.player["sex"]+"</td>";
				dhtml += "<td>"+data.player["level"]+"</td>";
				dhtml += "<td>"+data.player["viplevel"]+"</td>";
				dhtml += "<td>"+data.player["profession"]+"</td>";
				dhtml += "<td>"+data.player["guildid"]+"</td>";
				dhtml += "<td>"+data.player["attack"]+"</td>";
				dhtml += "<td>"+data.player["mapId"]+"</td>";
				dhtml += "<td>"+data.player["recharge"]+"</td>";
				dhtml += "<td>"+data.player["gold"]+"</td>";
				dhtml += "<td>"+data.player["bindGold"]+"</td>";
				dhtml += "<td>"+data.player["coin"]+"</td>";
				dhtml += "<td>"+data.player["bindcoin"]+"</td>";
				$("#detailInfo").html(dhtml);
				
				var dhtml2 = "";
				dhtml2 += "<td colspan='2'>"+data.player["createTime"]+"</td>";
				dhtml2 += "<td colspan='2'>"+data.player["lastOnTime"]+"</td>";
				dhtml2 += "<td colspan='2'>"+lastIp+"</td>";
				dhtml2 += "<td colspan='2'>"+sumsec+"</td>";
				dhtml2 += "<td id='isOnLine'>"+data.player["isOnline"]+"</td>";
				dhtml2 += "<td>"+data.player["accountState"]+"</td>";
				dhtml2 += "<td colspan='5'>&nbsp;</td>";
				$("#detailInfo2").html(dhtml2);
				 
				//玩家装备信息
				if(typeof(data.equips) != 'undefined'){
					for(var i in data.equips){
						var body = data.equips[i]["body"];
						$("#name_"+body).html(data.equips[i]["name"]);
						$("#clevel_"+body).html(data.equips[i]["enLvl"]);
					}
				}
			},
			error:function(data){
				$("#detailInfo2").html("<td colspan='15'>没有数据!</td>");
				$("#detailInfo").html("<td colspan='15'>没有数据!</td>");
			}
		});
	}

	//获取背包信息
	var getBag = function(id){
		var ip = $("#sip").val();
		$.ajax({
			type:"GET",
			url:"<{$logicApp}>/gminfo/getBagInfo",
			data:{
				ip : ip,
				gid : id
			},
			async:true,
			dataType:"json",
			beforeSend:function(){
				$("#bag tr").not(":first").remove();		//清除table，防止不断叠加
				$("#bag tr:last").after("<tr><td colspan='15'><img src='<{$res}>/images/loading.gif'/></td></tr>");
			},
			success:function(data){
				$("#bag tr").not(":first").remove();		//清除table，防止不断叠加
				if(typeof(data.bag) != 'undefined' && data.bag.length > 0){
					var html = "";
					var bag = data.bag;
					var tool = data.tool;
					for(var i in bag){
						switch(bag[i]["bind"]){
							case 0: bag[i]["bind"] = "绑定";break;
							case 1: bag[i]["bind"] = "未绑定";break;
							default: bag[i]["bind"] = "未知";
						}
	
						html += "<tr>";
						html += "<td>"+bag[i]["ItemId"]+"</td>";
						if(typeof(tool[bag[i]["ItemId"]]) != 'undefined') {
							html += "<td>"+tool[bag[i]["ItemId"]]+"</td>";
						} else {
							html += "<td >"+"暂无"+"</td>";
						}
						html += "<td >"+"暂无"+"</td>";
						html += "<td>"+bag[i]["ItemCount"]+"</td>";
						html += "<td>"+bag[i]["bind"]+"</td>";
						html += "<td>"+bag[i]["CellId"]+"</td>";
						html += "<td>"+"暂无"+"</td>";
						html += "<td>"+"暂无"+"</td>";
						html += "</tr>";
					}
					$("#bag tr:last").after(html);
				} else {
					$("#bag tr:last").after("<tr><td colspan='15'>没有数据!</td></tr>");
				}
			},
			error:function(data){
				$("#bag tr:last").after("<tr><td colspan='15'>没有数据!</td></tr>");
			}
		});
	}

	//更多
	$(".more").live("click",function(){
		//背包默认收起
		$("#bagclose").hide();
		$("#bagopen").show();
		$("#bag").hide();
		
		var id = $(this).parent().attr("id");
		var lastIp = $(this).find("span").attr("id");
		var sumsec = $(this).find("span").attr("sec");
		
		$("#last_ip").val(lastIp);
		$("#sum_sec").val(sumsec);
		$("#roleid").val(id);
		$("#tabs-1").hide();
		$("#tabs-2").show();
		getDetail(id);
	})

	//快捷禁言
	$("#jybt").click(function(){
		if($("#isOnLine").html() == "不在线"){
			alert("当前玩家不在线，无法禁言");
			return false;
		}
		var id = $("#roleid").val();
		var rolename = $("#roleName").html();
		var ip = $("#sip").val();
		var stoptime = $("#stoptime").val();
		var reason = $("#reason").val();
		var time = Date.parse(new Date());
		$("#rname").html(rolename);
		$("#jyform").dialog({
			height: 300,
			width: 500,
			buttons: {
				'确定' : function(){
					$.ajax({
						type  : "post",
						url : "<{$logicApp}>/gmoperate/stoptalk",
						data :
						{
							ip : ip,
							rolename : rolename,
							stoptime :stoptime,
							reason : reason,
							time : time
						},
						dataType : 'json',
						success : function(data){
							if(typeof(data.error) != 'undefined')
							{
								if(data.error != '')
								{
									alert(data.error);
								}
							}else{
								alert("禁言成功");
								$("#jyform").dialog("close");
								getDetail(id);
							}
						},
						error : function(){
							alert('error');
						}
					})
				},
				'取消' : function(){
					$(this).dialog("close");
				}
			}
		})
	})

	//快捷解禁
	$("#jjbt").click(function(){
		if($("#isOnLine").html() == "不在线"){
			alert("当前玩家不在线，无法解禁");
			return false;
		}
		var id = $("#roleid").val();
		var rolename = $("#roleName").html();
		var ip = $("#sip").val();
		var reason = $("#reason11").val();
		$("#rname11").html(rolename);
		$("#jjform").dialog({
			height: 300,
			width: 500,
			buttons: {
				'确定' : function(){
					$.ajax({
						type  : "post",
						url : "<{$logicApp}>/gmoperate/allowtalk",
						data :
						{
							ip : ip,
							rolename : rolename,
							reason : reason
						},
						cache : false,
						dataType : 'json',
						success : function(data){
							if(typeof(data.error) != 'undefined')
							{
								if(data.error != '')
								{
									alert(data.error);
								}
							}else{
								alert("解禁成功");
								$("#jjform").dialog("close");
								getDetail(id);
							}
						},
						error : function(){
							alert('error');
						}
					})
				},
				'取消' : function(){
					$(this).dialog("close");
				}
			}
		})
	})

	//快捷冻结
	$("#djbt").click(function(){
		var id = $("#roleid").val();
		var rolename = $("#roleName").html();
		var ip = $("#sip").val();
		var freezetime = $("#freezetime").val();
		var reason = $("#freezereason").val();
		$("#rname2").html(rolename);
		$("#djform").dialog({
			height: 300,
			width: 500,
			buttons: {
				'确定' : function(){
					$.ajax({
						type  : "post",
						url : "<{$logicApp}>/gmoperate/freeze",
						data :
						{
							ip : ip,
							rolename : rolename,
							freezetime :freezetime,
							reason : reason
						},
						cache : false,
						dataType : 'json',
						success : function(data){
							if(typeof(data.error) != 'undefined')
							{
								if(data.error != '')
								{
									alert(data.error);
								}
							}else{
								alert("冻结成功");
								$("#djform").dialog("close");
								getDetail(id);
							}
						},
						error : function(){
							alert('error');
						}
					})
				},
				'取消' : function(){
					$(this).dialog("close");
				}
			}
		})
	})

	//快捷解冻
	$("#jdbt").click(function(){
		var id = $("#roleid").val();
		var rolename = $("#roleName").html();
		var ip = $("#sip").val();
		var reason = $("#freezereason22").val();
		$("#rname22").html(rolename);
		$("#jdform").dialog({
			height: 300,
			width: 500,
			buttons: {
				'确定' : function(){
					$.ajax({
						type  : "post",
						url : "<{$logicApp}>/gmoperate/unfreeze",
						data :
						{
							ip : ip,
							rolename : rolename,
							reason : reason
						},
						cache : false,
						dataType : 'json',
						success : function(data){
							if(typeof(data.error) != 'undefined')
							{
								if(data.error != '')
								{
									alert(data.error);
								}
							}else{
								alert("解冻成功");
								$("#jdform").dialog("close");
								getDetail(id);
							}
						},
						error : function(){
							alert('error');
						}
					})
				},
				'取消' : function(){
					$(this).dialog("close");
				}
			}
		})
	})

	//强制下线 
	$("#xxbt").click(function(){
		if($("#isOnLine").html() == "不在线"){
			alert("当前玩家已经不在线！");
			return false;
		}
		var id = $("#roleid").val();
		var rolename = $("#roleName").html();
		var ip = $("#sip").val();
		var reason = $("#offreason").val();
		$("#rname3").html(rolename);
		$("#xxform").dialog({
			height: 300,
			width: 500,
			buttons: {
				'确定' : function(){
					$.ajax({
						type  : "post",
						url : "<{$logicApp}>/gmoperate/offline",
						data :
						{
							ip : ip,
							rolename : rolename,
							reason : reason
						},
						cache : false,
						dataType : 'json',
						success : function(data){
							if(typeof(data.error) != 'undefined')
							{
								if(data.error != '')
								{
									alert(data.error);
								}
							}else{
								alert("强制下线成功");
								$("#xxform").dialog("close");
								getDetail(id);
							}
						},
						error : function(){
							alert('error');
						}
					})
				},
				'取消' : function(){
					$(this).dialog("close");
				}
			}
		})	
	})	


	//赠送道具
	$("#zsdjbt").click(function(){
		alert("功能还没实现！");
	})


	//背包展开
	$("#bagopen").live("click",function(){
		var id = $("#roleid").val();
		$("#bagopen").hide();
		$("#bagclose").show();
		$("#bag").show();
		getBag(id);
	})

	//背包收起
	/$("#bagclose").live("click",function(){
		$("#bagclose").hide();
		$("#bagopen").show();
		$("#bag").hide();
	}) 

	//玩家装备收起
	$("#zbclose").live("click",function(){
		$("#zbbody").hide();
		$("#zbclose").hide();
		$("#zbopen").show();
	})

	//玩家装备展开
	$("#zbopen").live("click",function(){
		$("#zbbody").show();
		$("#zbclose").show();
		$("#zbopen").hide();
	})

	//玩家坐骑展开
	$("#zjopen").live("click",function(){
		$("#zjclose").show();
		$("#zjopen").hide();
	})

	//玩家坐骑收起
	$("#zjclose").live("click",function(){
		$("#zjopen").show();
		$("#zjclose").hide();
	})

	//玩家卓越展开
	$("#zyopen").live("click",function(){
		$("#zyclose").show();
		$("#zyopen").hide();
	})

	//玩家卓越收起
	$("#zyclose").live("click",function(){
		$("#zyopen").show();
		$("#zyclose").hide();
	})

	//玩家仓库展开
	$("#ckopen").live("click",function(){
		$("#ckclose").show();
		$("#ckopen").hide();
	})

	//玩家仓库收起
	$("#ckclose").live("click",function(){
		$("#ckopen").show();
		$("#ckclose").hide();
	})

	//获取玩家基本信息
	var getdata = function(page){
		var ip = $("#sip").val();
		var type = $("#type").val();
		var text = $("#qt").val();
		var pageSize = 10;
		var curPage = page;
		var time =  Date.parse(new Date());
		$.ajax({
			type:"GET",
			url:"<{$logicApp}>/gminfo/get",
			data:{
				ip : ip,
				type : type,
				text : text,
				pageSize : pageSize,
				curPage : curPage,
				time : time
			},
			dataType:"json",
			beforeSend:function(){
				flag = false;
				$("#infota").html("<tr><td colspan='12'><img src=\"<{$res}>/images/loading.gif\"/></td></tr>");
			},
			complete:function(data){
				flag = true;
			},
			success:function(data){
				if(typeof(data.error) != 'undefined')//错误
				{
					if(data.error != '')
					{
						$("#infota").html("<tr><td colspan='12'>没有记录！</td></tr>");
						return false;
					}
				 }
				var list = [];
				if(data.plays){
					list = data.plays;
				}
				if(list.length > 0 ){
					$("#infota").html("");	//清除table
					$("#pagehtml").html("");//清除分页 
					var html = "";
					for(var i in list){
						html += "<tr id="+list[i]["id"]+">";
						html += "<td>"+list[i]["id"]+"</td>";
						html +=	"<td>"+list[i]["accountCode"]+"</td>";
						html += "<td>"+list[i]["name"]+"</td>";
						html += "<td>"+list[i]["sex"]+"</td>";
						html += "<td>"+list[i]["level"]+"</td>";
						html += "<td>"+list[i]["profession"]+"</td>";
						html += "<td>"+list[i]["createTime"]+"</td>";
						html +=	"<td>"+list[i]["lastTime"]+"</td>";
						html +=	"<td>"+list[i]["lastIp"]+"</td>";
						html +=	"<td>"+toformat(list[i]["sumSec"])+"</td>";
						html += "<td class='more'>"+"<span style='color:blue;cursor:pointer' id='"+list[i]["lastIp"]+"' sec='"+toformat(list[i]["sumSec"])+"'><img src='<{$res}>/images/more.gif'/></span>"+"</td>";
						html += "</tr>";
					}
					$("#infota").html(html); 
					$("#pagehtml").html(data.pageHtml);
				}else{
					$("#infota").html("<tr><td colspan='12'>没有记录！</td></tr>");
				}
			},
			error:function(data){
				$("#infota").html("<tr><td colspan='12'>没有记录！</td></tr>");
			}
		});
	}
	
	//分页ajax函数
	var formAjax = function(page){
		if(flag) {
			getdata(page);
			//setTimeout("getdata("+page+")",2000);
		}	
	}

	//跳到相应页面 
	var go = function(){
		var pagenum = $("#page").val();
		if(pagenum=='' || isNaN(pagenum) || pagenum <= 0){
			alert('请输入一个正整数！');
			$("#page").val(1);
		}else{
			formAjax(pagenum);
		}
	}
</script>

</body>
</html>